<html>
	<head>
		<title>%title%</title>
	</head>
	<body>
		<table border="0" width="640">
			<tr>
				<td valign="top" width="200">
					%cover_image%</td>
				<td  width="440" valign="top">
					<span style="font-weight: bold; font-size: large">%title%</span>
					<br><br>
					<table width="100%" border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td valign="top">
								<span style="color: #000000; font-size: small;">%genres%</span></td>
							<td valign="top" align="right">
								<span style="color: #666666; font-size: small;">%directors%</span></td>
						</tr>
						<tr>
							<td valign="top" colspan="2">
								<span style="color: #333333; font-size: small;">%countries% %year%</span></td>
						</tr>
					</table><br>
					<span style="color: #000000;">%plot%</span><br><br>
					%tracker_link% &nbsp; %kinopoisk_link% &nbsp; %google_link% &nbsp; %youtube_link%
					<br><br>
					<span style="color: #666666; font-size: x-small;">%video%</span><br>
					<span style="color: #666666; font-size: x-small;">%audio%</span><br>
					<span style="color: #666666; font-size: x-small;">%translation%</span><br><br>
					<span style="font-size: x-small;">%cast%</span><br><br>
					<table width="100%" border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td valign="top" width="40%">
								<span style="color: #555555; font-size: small;">%length%</span></td>
							<td valign="top" align="right" width="60%">
								<span style="color: #555555; font-size: small;">%rating%</span></td>
						</tr>
					</table>
					<hr>
					<table width="100%" border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td valign="top" width="60%">
								<span style="color: #555555; font-size: small;">%size%</span></td>
							<td valign="top" align="right" width="40%">
								<span style="color: #333333; font-size: small;">%free_space%</span><br></td>
						</tr>
					</table>
					<br><br>
					<!--files_block_start-->
					<div style="width: 100%;" align="center"><div style="border: 1px solid #cccccc; width: 90%; text-align: left; padding: 10px;" align="left">
						<!--file_start-->
						<span style="color: #333333; font-size: small;">%file_title%</span>
						<span style="color: #999999; font-size: small;"> - <nobr>%file_size%</nobr></span>
						<br>
						<!--file_end-->
					</div>
					<!--files_block_end--></td>
			</tr>
		</table>
		<span style="color: #ffffff; font-size: small;">%hash%</span>
	</body>
</html>